<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	      <title>{% block title %}Django Custom Users{% endblock %}</title>
        <!-- Favicons -->
        {% load static  %}
        <link rel="icon" href="{% static 'Favicon.png' %}" sizes="16x16" type="image/png">
        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="{% static 'css/inc/plugins.css' %}">
        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header class="site_header fixed-top w-100">
            <div class="container">
              <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html"><img src="{% static 'logo.png' %}" alt="pic"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link active" href="#home">Home</a>
                    <a class="nav-item nav-link" href="/showservice">Services</a>
                    <a class="nav-item nav-link" href="/showportfolio">Portfolio</a>
                    <a class="nav-item nav-link" href="/teams">Team</a>
                    <a class="nav-item nav-link" href="/showpricing">Pricing</a>
                    <a class="nav-item nav-link" href="/setting">Contact Us</a>
                    <div class="drop_down">
                        <a class="nav-item nav-link" href="#">Login & SignUp <i class="fas fa-caret-down"></i></a>
                        <div class="animated fadeInUp sub_menu">
                          <a class="nav-item nav-link" href="{% url 'profile' %}">Profile {{ user.username }}</a>
                          <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        </div>
                      </div>
                    {% else %}
                    <a class="nav-item nav-link active" href="#home">Home</a>
                    <a class="nav-item nav-link" href="#services">Services</a>
                    <a class="nav-item nav-link" href="#portfolio">Portfolio</a>
                    <a class="nav-item nav-link" href="#team">Team</a>
                    <a class="nav-item nav-link" href="#pricing">Pricing</a>
                    <a class="nav-item nav-link" href="#contact_us">Contact Us</a>
                    <div class="drop_down">
                      <a class="nav-item nav-link" href="#">Login & SignUp <i class="fas fa-caret-down"></i></a>
                      <div class="animated fadeInUp sub_menu">
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'signup' %}">Signup</a>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </nav>
            </div>
            <div class="loader">
              <div class="boxLoading blue"></div>
            </div>
          </header>
	{% block content %}
    {% endblock %}
     <!--========== start footer section =============-->
     <footer class="site_footer text-center bg_blue_grad text-white">
        <div class="container">
          <p>Create by Oong.</p>
        </div>
      </footer> 
      <script src="{% static 'js/jQuery-plugins.js' %}"></script>
      <script src="{% static 'js/scripts.js' %}"></script>
      <script src=""></script>
    </body>
    
</html>
