{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
{% load static  %}
<main class="main_site" id="home">
    <!--========== start hero section =============-->
    <section id="hero_section" class="blue bg_blue_grad text-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6 padding_right">
            <div class="hero_content">
              <h1 class="text-uppercase hero_tit text_animation" data-in-effect="bounceIn">START YOUR BUSINESS WITH ZAGENCY</h1>
              <p class="hero_desc wow fadeInDown" data-wow-delay="1.5s">Lorem Ipsum
                is simply dummy text of the printing and typesetting industry.Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
            </div>
            <form id="subscribe_form" class="wow fadeInUp margin_top" data-wow-delay="1.5s" action="https://ah-theme.us17.list-manage.com/subscribe/post?u=1deb8f74c591046810c8ac1ec&amp;id=ebe56afd26" method="post">
              <div class="d-flex justify-content-center align-content-center">
                <input id="subscribe_email" class="form-input w-100 border_white" type="email" name="subscribe_email" placeholder="Enter Your Email" required>
                <button id="subscribe_btn" class="sub_btn btn_green btn_style text-uppercase" type="submit" name="button">Subscribe</button>
              </div>
              <p class="subscription_success"></p>
              <p class="subscription_error"></p>
            </form>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="hero_img text-center" >
              <img class="mw-100 wow fadeInUp" data-wow-delay="2s" src="{% static 'img/top_img.png' %}" alt="pic">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--========== start services section =============-->
    <section id="services" class="text-center blue">
      <div class="container">
        <h1 class="sec_title text-uppercase">OUR SERVICE</h1>
        <p class="sec_desc">Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
        <div class="row">
          {% for service in services%}
          <div class="col-md-12 col-lg-4">
            <div class="serv_item margin_top_4 wow fadeInUp" data-wow-delay="0s">
              <i class="{{service.logo}} serv_icon text_green"></i>
              <h2 class="margin_top margin_bottom serv_tit">{{ service.name}}</h2>
              <p class="serv_desc">{{ service.ket}}</p>
              <div class="serv_hover text-white bg_blue_grad">
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!--========== start about us section =============-->
    <section id="about-us" class="blue bg_blue_grad text-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6">
            <div class="about_image wow fadeInLeft">
              <img class="w-100" src="{% static 'img/about-us.jpg' %}" alt="pic">
              <a id="play_video" href="#">
                <i class="fas fa-play paly_icon text_green"></i>
              </a>
            </div>
            <div class="video_popup animated fadeInUp justify-content-center align-items-center align-content-center">
              <div class="video_src">
                <div class="iframe_src">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/tiy1MeXzhfA" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="about_content padding_left_4 wow fadeInRight">
              <h2 class="text-uppercase">what we do ?</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed
                eiusmod tempor enim minim veniam quis notru exercit ation Lorem
                ipsum dolor sit amet.Veniam quis notru exercit.
              </p>
              <ul class="margin_top">
                <li><i class="fas fa-circle _icon text_green margin_right"></i>Lorem ipsum dolor sit amet consectetur</li>
                <li><i class="fas fa-circle _icon text_green margin_right"></i>Lorem ipsum dolor sit amet consectetur</li>
                <li><i class="fas fa-circle _icon text_green margin_right"></i>Lorem ipsum dolor sit amet consectetur</li>
              </ul>
              <a class="d-inline-block btn_style btn_green margin_top" href="about-us.html">Now More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--========== start portfolio section =============-->
    <section id="portfolio" class="text-center blue">
      <div class="container">
        <h1 class="sec_title text-uppercase">OUR PROJECTS</h1>
        <p class="sec_desc">Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.</p>
        <div id="portfolio_items" class="margin_top">
          <div class="row">
            {% for portfolios in portfolio %}
              <div class="col-sm-6 col-md-4 portfolio_item scale-anm">
              <a href="#">
                <div class="portfolio_img">
                  <img src="{{ portfolios.imageportfolio.url }}" alt="pic">
                </div>
                <div class="portfolio_content">
                  <h3 class="text-uppercase">{{ portfolios.name }}</h3>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        <a class="btn_style blu_grad_btn margin_top_4 d-inline-block text-uppercase" href="portfolio.html">see more projects</a>
      </div>
    </section>
    <!--========== start Team section =============-->
    <section id="team" class="blue text-center">
      <div class="container">
        <h1 class="text-uppercase">OUR LOVELY TEAM</h1>
        <p class="sec_desc">Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod
          tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor
          sit amet.Veniam quis notru exercit.</p>
        <div id="team_slider" class="owl-carousel blue margin_top_4">
          {% for teams in team %}
          <div class="team_item">
            <div class="pic">
              <img class="w-100" src="{{ teams.imageteam.url }}" alt="pic">
              <ul class="social-links d-flex">
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              </ul>
            </div>
            <div class="team-content">
              <h3 class="title text-uppercase">{{ teams.name }}</h3>
              <p>{{ teams.email }}</p>
              <span class="post text-capitalize">{{ teams.jabatan }}</span>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!--========== start pricing section =============-->
    <section id="pricing" class="text-center blue sec_bg_gray">
      <div class="container">
        <h1 class="text-uppercase">Pricing</h1>
        <p class="sec_desc">Lorem ipsum dolor sit amet consectetur adipisicing elitsed eiusmod
          tempor enim minim veniam quis notru exercit ation Lorem ipsum dolor
          sit amet.Veniam quis notru exercit.</p>
        <div class="row margin_top_4">
          {% for pricings in pricing %}
          <div class="col-md-4 col-sm-12">
                <div class="pricingTable wow fadeInRight" data-wow-delay="0">
                    <div class="pricing_header">
                      <h2 class="text-uppercase text_green">{{ pricings.name }}</h2>
                      <h3 class=" text_green">{{ pricings.month }} <span class="text-uppercase text_small">/ month</span></h3>
                    </div>
                    <div class="pricing-content margin_top">
                        <ul class="pricing-content">
                            <li><b>{{ pricings.disk }}</b> Disk Space</li>
                            <li><b>{{ pricings.email }}</b> Email Accounts</li>
                            <li><b>{{ pricings.bandwidth }}</b> Bandwidth</li>
                            <li><b>{{ pricings.subdomain }}</b> Subdomains</li>
                            <li><b>{{ pricings.domain }}</b> Domains</li>
                        </ul>
                        <a href="#" class="d-inline-block margin_top btn_style btn_green text-uppercase">Submit Now</a>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    
    <!--========== start contact us section =============-->
    {% for settings in setting %}
    <section id="contact_us" class=" blue sec_bg_gray">
      <div class="contact__us">
        <div class="container">
          <h1 class="text-uppercase text-center"><span>Get In Touch</span></h1>
          <p class="sec_desc margin_bottom text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <div class="row contact-us margin_top_4 wow fadeInUp">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="contact_info text-left">
                <div class="d-flex contact_item align-items-center margin_bottom align-content-center">
                  <i class="fas fa-map-marker-alt margin_right info_icon"></i>
                  <div>
                    <p class="text-uppercase text_bold">location</p>
                    <p class="text-uppercase"> {{ settings.location }}</p>
                  </div>
                </div>
                <div class="d-flex contact_item align-items-center margin_bottom align-content-center">
                  <i class="fas fa-mobile-alt margin_right info_icon"></i>
                  <div>
                    <p class="text-uppercase text_bold">phone</p>
                    <p class="text-uppercase"> <a href="tel:+15173977100">{{ settings.phon }}</a></p>
                  </div>
                </div>
                <div class="d-flex contact_item align-items-center margin_bottom align-content-center">
                  <i class="far fa-envelope margin_right info_icon"></i>
                  <div>
                    <p class="text-uppercase text_bold">mail</p>
                    <p class="text-uppercase"><a href="mailto:abcdefg@gmail.com">{{ settings.mail }}</a></p>
                  </div>
                </div>
                <div class="d-flex contact_item align-items-center margin_bottom align-content-center">
                  <i class="far fa-clock margin_right info_icon"></i>
                  <div>
                    <p class="text-uppercase text_bold">WORKING HOURS</p>
                    <p class="text-uppercase">{{ settings.working }}</p>
                  </div>
                </div>
                  <a id="send_message" class="d-inline-block btn_style blu_grad_btn text-uppercase text-white" href="#">send message</a>
              </div>
              <div class="contact_popup animated fadeInUp">
                <form id="contact_form" action="https://ah-theme.com/zagency/demo/contact.php" method="post">
                  <div class="row">
                    <div class="col">
                      <input type="text" id="your_name" class="form-input w-100" name="full-name" placeholder="Full Name" required>
                    </div>
                    <div class="col">
                      <input type="email" id="email" class="form-input w-100" name="email" placeholder="Email" required>
                    </div>
                  </div>
                  <input type="text" id="phone" class="form-input w-100" name="phone" placeholder="Phone">
                  <textarea class="form-input w-100" id="message" placeholder="Message" name="message"></textarea>
                  <button id="contact_submit" class="blu_grad_btn btn_style br_radius w-100 text-uppercase" type="submit" name="button">submit <i class="float-right hidden fa-spin fas fa-circle-notch"></i></button>
                  <div id="msgSubmit" class="h3 text-center hidden">Message Submitted! Thanks :)</div>
                </form>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="map">
                <div style="width: 100%"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d421701.2454303203!2d-90.21538947620296!3d34.33670749678344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88801b5b94e09a8b%3A0xabd6bc8b4f8f7ebb!2sUnited+States+Postal+Service!5e0!3m2!1sen!2seg!4v1536167131135" allowfullscreen></iframe></div><br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
  </main>
{% endblock %}
