{% extends "base.html" %}

{% block content %}

    <main class="main_site">
        <div class="top_section d-flex align-items-center">
        <div class="container">
            <h1 class="text-uppercase text-center page_title text_bold margin_top_4">single blog</h1>
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Single Blog</li>
            </ol>
            </nav>
        </div>
        </div>
    </main>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                      <h5 class="card-title text-center">Service Create</h5>
                        <form method="POST" class="post-form" action="/empservice">  
                            {% csrf_token %}  
                        <div class="container">  
                        <br>  
                        <div class="form-group row">   
                    </div>  
                        <div class="form-group row">  
                        <label class="col-sm-2 col-form-label">Name Service :</label>  
                        <div class="col-sm-4">  
                        <input type="text" class="form-control" name="name">
                        </div>  
                    </div>  
                    <div class="form-group row">  
                        <label class="col-sm-2 col-form-label">Logo Service:</label>  
                        <div class="col-sm-4">  
                        <input type="text" class="form-control" name="logo">
                        </div>  
                    </div>  
                        <div class="form-group row">  
                        <label class="col-sm-2 col-form-label">Description</label>  
                        <div class="col-sm-4">  
                        <input type="text" class="form-control" name="ket">
                        </div>  
                    </div>  
                    </div>  
                        <div class="form-group row">  
                        <label class="col-sm-1 col-form-label"></label>  
                        <div class="col-sm-4">  
                        <button type="submit" class="btn btn-primary">Submit</button>  
                        </div>  
                        </div>  
                        </div>  
                    </form>  
                </div>
            </div>
            </div>
        </div>
    </div>
{% for entry in blog_entries %}
{% endfor %}
{% endblock %}