{% extends "base.html" %}

{% block content %}

    <main class="main_site">
        <div class="top_section d-flex align-items-center">
        <div class="container">
            <h1 class="text-uppercase text-center page_title text_bold margin_top_4">Edit Portfolio</h1>
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Portfolio</li>
            </ol>
            </nav>
        </div>
        </div>
    </main>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-12 col-lg-8 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                      <h5 class="card-title text-center">Edit team</h5>
                        <form method="POST" class="post-form" action="/updateteams/{{team.id}}">  
                          {% csrf_token %}  
                          <div class="container">  
                              <br>  
                          </div>  
                          <div class="form-group row">  
                            <label class="col-sm-2 col-form-label">Name:</label>  
                              <div class="col-sm-4">  
                                  <input type="text" name="name" id="name" required maxlength="20" value="{{ team.name }}"/>  
                              </div>  
                          </div>
                          <div class="form-group row">  
                            <label class="col-sm-2 col-form-label">jabatan:</label>  
                            <div class="col-sm-4">
                                <input type="text" name="jabatan" id="jabatan" value="{{ team.jabatan}}">
                            </div>  
                          </div>
                          <div class="form-group row">  
                            <label class="col-sm-2 col-form-label">email:</label>  
                            <div class="col-sm-4">
                                <input type="text" name="email" id="email" value="{{ team.email}}">
                            </div>  
                          </div>
                          <div class="form-group row">  
                            <label class="col-sm-1 col-form-label"></label>  
                              <div class="col-sm-4">  
                                <button type="submit" class="btn btn-success">Update</button>  
                              </div>
                          </div>  
                        </div>  
                      </form>  
                    </div>
                </div>
            </div>
        </div>
    </div>
{% for entry in blog_entries %}
{% endfor %}
{% endblock %}