{% extends "base.html" %}

{% block content %}

    <main class="main_site">
        <div class="top_section d-flex align-items-center">
        <div class="container">
            <h1 class="text-uppercase text-center page_title text_bold margin_top_4">Contact</h1>
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
            </nav>
        </div>
        </div>
    </main>
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
                <div class="box-header">
                    <a href="/addsetting" class="btn btn-primary">Add New Contact</a><br>
                </div>
                <table class="table table-striped table-bordered table-sm">  
                    <thead class="thead-dark">  
                    <tr>  
                        <th>No</th>  
                        <th>location</th>  
                        <th>phone</th>  
                        <th>Mail</th>  
                        <th>Working</th>
                        <th>Action</th>  
                    </tr>  
                    </thead>  
                    <tbody>  
                    {% for setting in settings %}  
                    <tr>  
                        <td>{{ setting.id }}</td>  
                        <td>{{ setting.location }}</td>  
                        <td>{{ setting.phon }}</td>
                        <td>{{ setting.mail}}</td>
                        <td>{{ setting.working }}</td>
                        <td>    
                            <a href="/deletesetting/{{ setting.id }}">Delete</a>  
                        </td>
                    </tr>  
                {% endfor %}  
                    </tbody>
                </table>  
            </div>
        </div>
    </div>
{% for entry in blog_entries %}
{% endfor %}
{% endblock %}