{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
    <main class="main_site">
      <div class="top_section d-flex align-items-center">
        <div class="container">
          <h1 class="text-uppercase text-center page_title text_bold margin_top_4">single blog</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Single Blog</li>
            </ol>
          </nav>
        </div>
      </div>
    </main>
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <form method="post">
                    {% csrf_token %}
                  <div class="form-label-group">
                    <input type="text" id="inputEmail" class="form-control" name="username" placeholder="username" required autofocus>
                    <label for="inputEmail">Username</label>
                  </div>
                  <div class="form-label-group">
                    <input type="text" id="inputEmail" class="form-control" name="email" placeholder="email" required autofocus>
                    <label for="inputEmail">Email address</label>
                  </div>
                  <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" name="password1" placeholder="Password" required>
                    <label for="inputPassword">Password</label>
                  </div>
                  <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" name="password2" placeholder="Password" required>
                    <label for="inputPassword">Password Confirmation</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                  <hr class="my-4">
                  <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                  <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

