{% extends "base.html" %}

{% block content %}

    <main class="main_site">
        <div class="top_section d-flex align-items-center">
        <div class="container">
            <h1 class="text-uppercase text-center page_title text_bold margin_top_4">single blog</h1>
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Single Blog</li>
            </ol>
            </nav>
        </div>
        </div>
    </main>
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
                <div class="box-header">
                    <a href="/addpricing" class="btn btn-primary">Add New Pricing</a><br>
                </div>
                <table class="table table-striped table-bordered table-sm">  
                    <thead class="thead-dark">  
                    <tr>  
                        <th>No</th>  
                        <th>name</th>  
                        <th>month</th>  
                        <th>disk</th>
                        <th>email</th>
                        <th>bandwidth</th>
                        <th>subdomain</th>
                        <th>domain</th>
                        <th>Actions</th>  
                    </tr>  
                    </thead>  
                    <tbody>  
                    {% for pricing in pricings %}  
                    <tr>  
                        <td>{{ pricing.id }}</td>  
                        <td>{{ pricing.name }}</td>  
                        <td>{{ pricing.month }}</td>  
                        <td>{{ pricing.disk }}</td>
                        <td>{{ pricing.email }}</td>
                        <td>{{ pricing.bandwidth }}</td>
                        <td>{{ pricing.subdomain }}</td>
                        <td>{{ pricing.domain }}</td>
                        <td>  
                            <a href="/editpricing/{{ pricing.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
                            <a href="/deletepricing/{{ pricing.id }}">Delete</a>  
                        </td>
                    </tr>  
                {% endfor %}  
                    </tbody>
                </table>  
            </div>
        </div>
    </div>
{% for entry in blog_entries %}
{% endfor %}
{% endblock %}